html {
  background-color: transparent;
}
body {
   width: 100%;
   height: 100%;
  background-color:rgb(1, 200, 237);
}
svg{
  opacity: 1;
}
stop.end { stop-color:yellow; }
  stop.begin { stop-color:green; }
  body.invalid stop.begin { stop-color:red; }
  #err { display:none; margin-left: 20px;
  }